.a {
    color:black;
    text-decoration: none;
}

.a:hover {
    text-decoration:underline;
}

.article {
    width: 550px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.article * {
    margin-left: 10px;
}

p, header a {
    font-size: 20px;
}

#date {
    text-align: right;
}

#form * {
    float: left;
    display: block;

    text-align: center;
}

#header {
    margin-bottom: 10px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .article {
        width: 100%;
    }
}
