.a {
    color:black;
    text-decoration: none;
}

.a:hover {
    text-decoration:underline;
}

.article {
    width: 50%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.article img {
    margin: 5px;
    width: 50%;
}

.article * {
    margin-left: 10px;
}

p, header a, li {
    font-size: 20px;
}

#date {
    text-align: right;
}

#form * {
    float: left;
    display: block;

    text-align: center;
}

#header {
    width: 100%;

    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
}

#article img:not(.ad img), #articleimage {
    width: 50%;
}

@media (max-width: 600px) {
    .article {
        width: 100%;
    }
    .article img {
        width: 90%;
    }
    #article img:not(.ad img), #articleimage  {
        width: 100%;
    }
    #header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
